spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  main:
    allow-bean-definition-overriding: true
  codec:
    max-in-memory-size: -1
  cloud:
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 类
    gateway:
      default-filters:
      routes:
        # 鉴权服务路由
        - id: auth-service  # 路由id
          uri: lb://auth-server # 路由地址
          predicates:
            - Path=/auth/** # 路由匹配
          filters:
            - StripPrefix=1 # 去掉前缀
        - id: article-service # 路由id
          uri: lb://article-service # 路由地址
          predicates: # 路由断言
            - Path=/article/** # 路由路径
          filters:
            - name: SystemCustomGatewayFilterFactory
              args:
                name: article-service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - name: SystemCustomGatewayFilterFactory
              args:
                name: user-service


