spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  main:
    allow-bean-definition-overriding: true
  codec:
    max-in-memory-size: -1
  cloud:
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 类
    gateway:
      globalcors:
        cors-configurations:
          "[/**]": # 允许跨域的请求
            allowedOriginPatterns: # 使用模式匹配允许的源
              - "http://*"
              - "https://*"
              - "ws://*"
            allowedMethods: # 支持的请求方法
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*" # 允许所有请求头
            allowCredentials: true # 允许携带凭证（如 cookies）
            max-age: 3600
        add-to-simple-url-handler-mapping: true
      default-filters:
      routes:
        # 鉴权服务路由
        - id: auth-service # 路由id
          uri: lb://auth-server # 路由地址
          predicates:
            - Path=/auth/** # 路由匹配
        - id: article-service # 路由id
          uri: lb://article-service # 路由地址
          predicates: # 路由断言
            - Path=/page/**, /article/** # 路由路径
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
