spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  main:
    allow-circular-references: true # 允许循环依赖，因为项目是三层架构，无法避免这个情况。
    allow-bean-definition-overriding: true
  codec:
    max-in-memory-size: -1
  cloud:
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 类
    gateway:
      default-filters:
        - PreserveHostHeader #WebSocket 转发要开启：
      # 路由配置项，对应 RouteDefinition 数组
      routes:
        - id: ws-api   # 1 websocket
          uri: lb:ws://user-server
          predicates:
            - Path=/pc-api/user/ws/**
          filters:
            - StripPrefix=2

        # 3. 普通 user API
        - id: user-api
          uri: lb://user-server
          predicates:
            - Path=/pc-api/user/**
          filters:
            - StripPrefix=2

