spring:
  main:
    allow-circular-references: true # 允许循环依赖，因为项目是三层架构，无法避免这个情况。
    allow-bean-definition-overriding: true
  codec:
    max-in-memory-size: -1
  cloud:
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 类
    gateway:
      # 路由配置项，对应 RouteDefinition 数组
      routes:
        ## system-server 服务
        - id: user-api # 路由的编号
          uri: lb://user-server
          predicates: # 断言，作为路由的匹配条件，对应 RouteDefinition 数组
            - Path=/pc-api/user/**
          filters:
            - StripPrefix=2  # 去掉前 2 段：/pc-api/user
