@import "tailwindcss";
@config "../../tailwind.config.ts";

@import "./variables.css";

@layer base {
  body {
    background-color: var(--cb-bg-main);
    color: var(--cb-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
  }
}
